---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
sitemap: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.sitemapPages %}
{%- if item.url %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | isoDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>{% if item.url == "/" %}1.0{% elif "/services/" in item.url %}0.9{% else %}0.7{% endif %}</priority>
  </url>
{%- endif %}
{%- endfor %}
{%- for s in services %}
  <url>
    <loc>{{ site.url }}/services/{{ s.slug }}/</loc>
    <lastmod>{{ "" | isoDate }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.9</priority>
  </url>
{%- endfor %}
</urlset>
